<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Responsive</title>
</head>
<body>
    <nav class="navbar">
        <a href="#" class="logo">Logo</a>
        <div class="menu-toggle">☰</div>
        <div class="nav-links">
            
            <a href="home">Accueil</a>
            <a href="#">calculateur</a>
            <a href="#">Mes recettes</a>
            <a href="#">Services</a>
            <a href="confidentialite">privacy-policy</a>
            <div class="nav-buttons">
                <button>Se connecter</button>
                <button>S'inscrire</button>
            </div>
        </div>
    </nav>
    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('.nav-links').classList.toggle('active');
        });
    </script>
</body>
</html>
